    
    
    <footer class="bg-dark text-light text-center py-3 mt-5 w-100">
        <div class="container-fluid">
            <p class="mb-1">Coroinhas APNSDB</p>
            <small class="text-secondary">
                Desenvolvido por Rodrigo Castro Moreno - 2026
            </small>
        </div>
    </footer>


</body>
</html>
