    
    </main>
    
    </div>
    </div>

    <!-- <hr class="border-dark mb-5 mt-2 border-3 opacity-75"> -->

    <footer class="bg-light text-dark text-center py-3 w-100">
        <div class="container-fluid">
            <p class="mb-1">Coroinhas APNSDB</p>
            <small class="text-secondary">
                Desenvolvido por Rodrigo Castro Moreno - 2026 - Conteúdo oficial
            </small>
        </div>
    </footer>

    
</body>
</html>
