<% include partials/header %>

<div class="container-fluid">
    <div class="row aling-items-center justify-content-center">
        <h2>Em Breve</h2>
        <h5>Não desenvolvida a parte do banco que integra a escala, segue a imagem:</h5>

        <iframe 
            src="/images/escala-coroinhas-junho.pdf"
            width="100%"
            height=600px>
        </iframe>

    </div>
</div>

<% include partials/footer %>