<% include partials/header %>


<div class="d-flex container-fluid justify-content-center align-items-center" style="min-height: 100vh; gap: 10px">

    <form action="/registrar" method="post" class="w-100 bg-light rounded-4 p-5" style="max-width: 500px; box-shadow: 0px 4px 5px rgba(0,0,0,0.1);">
        <div class="mb-3">
            <label for="nomeUsuario" class="form-label">Nome Completo</label>
            <input type="text" name="nome" class="form-control" id="nomeUsuario">
        </div>
        
        <div class="mb-3">
            <label for="emailUsuario" class="form-label">Endereço de Email</label>
            <input type="email" name="email" class="form-control" id="emailUsuario">
        </div>
        
        <div class="mb-3">
            <label for="senhaUsuario" class="form-label">Senha</label>

            <div class="position-relative">
                <input type="password" name="senha" class="form-control" id="senhaUsuario">
                <i id="togglePassword" class="fas fa-eye position-absolute top-50 end-0 translate-middle-y me-3" style="cursor: pointer;"></i>
            </div>
        </div>

        <div class="mb-3">
            <label for="confirmarSenhaUsuario" class="form-label">Confirmar Senha</label>

            <div class="position-relative">
                <input type="password" name="confirmarSenha" class="form-control" id="confirmarSenhaUsuario">
                <i id="toggleConfirmPassword" class="fas fa-eye position-absolute top-50 end-0 translate-middle-y me-3" style="cursor: pointer;"></i>
            </div>
        </div>

        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="lembrarCheck">
            <label class="form-check-label" for="lembrarCheck">Lembrar de mim</label>
        </div> -->

        <button type="submit" class="mb-3 btn btn-primary w-100">Cadastrar</button>

        <div class="text-end">
            <a href="/">Voltar</a>
        </div>

    </form>

</div>

<% include partials/footer %>