<% include partials/header %>

<div class="container-fluid align-items-center justify-content-center">
    <div class="row vh-100">
        <h1>Em Breve</h1>

        <a href="/" class="btn btn-outline-dark">Sair</a>
    </div>
</div>

<% include partials/footer %>